<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>todoMVC -- Vueuv</title>
  <link href="/favicon.ico" rel="shortcut icon">
  <script src="../src/Compiler.js"></script>
  <script src="../src/Dependence.js"></script>
  <script src="../src/Observer.js"></script>
  <script src="../src/Vueuv.js"></script>
  <script src="../src/Watcher.js"></script>
  <script src="../src/util.js"></script>
</head>
<body>
<div id="app">
  <input type="text" v-model="inputItem" @keydown="addItem">
  <ul>
    <li v-for="item in items">
      <span :class="[item.completed ? 'icon-checked' : '', 'base']" @click="markItem(item)">check</span>
      <span :class="[item.completed ? 'completed' : '']">{{item.text}}</span>
      <span @click="deleteItem(item)">delete</span>
    </li>
  </ul>
  <div>
    <span></span>
  </div>
</div>

<script>
  var vm = new Vueuv({
    el     : '#app',
    data   : {
      inputItem: '',
      items    : [],
      count    : 0,
    },
    methods: {
      addItem   : function (e) {
        if (e.keyCode === 13) {
          this.items.push({completed: false, text: e.target.value});
          this.inputItem = '';
        }
      },
      deleteItem: function (item) {
        this.items.$remove(item);
      },
      markItem  : function (item) {
        item.completed = !item.completed;
      },
      counter   : function () {
        this.count = this.count + 1
      }
    },
    computed:{

    },
  });

</script>
</body>
</html>